@using Jobzy.Web.ViewModels.Job
@using Jobzy.Common

@model JobInputModel
<!-- Dashboard Container -->
<div class="dashboard-container">

    <partial name="DashboardPartial" />

    <!-- Dashboard Content
    ================================================== -->
    <div class="dashboard-content-container" data-simplebar>
        <div class="dashboard-content-inner">

            <!-- Dashboard Headline -->
            <div class="dashboard-headline">
                <h3>Add a Job</h3>
            </div>

            <!-- Row -->
            <div class="row">

                <!-- Dashboard Box -->
                <div class="col-xl-12">
                    <div class="dashboard-box margin-top-0">

                        <form method="post" id="job-post-form">
                            <!-- Headline -->
                            <div class="headline">
                                <h3><i class="icon-feather-folder-plus"></i> Job Submission Form</h3>
                            </div>

                            <div class="content with-padding padding-bottom-10">
                                <div class="row">

                                    <div class="col-xl-4">
                                        <div class="submit-field">
                                            <h5>Job Title</h5>
                                            <input asp-for="Title" type="text" class="with-border">
                                        </div>
                                        <span asp-validation-for="Title" class="text-danger"></span>
                                    </div>

                                    <div class="col-xl-4">
                                        <div class="submit-field">
                                            <h5>Job Type</h5>
                                            <select asp-for="JobType" asp-items="Html.GetEnumSelectList<JobType>()" class="selectpicker with-border" data-size="7" title="Select Job Type">
                                                <option value="">Select Job Type</option>
                                            </select>
                                        </div>
                                        <span asp-validation-for="JobType" class="text-danger"></span>
                                    </div>

                                    <div class="col-xl-4">
                                        <div class="submit-field">
                                            <h5>Job Category</h5>
                                            <select asp-for="JobCategory" asp-items="Html.GetEnumSelectList<JobCategory>()" class="selectpicker with-border" data-size="7" title="Select Category">
                                                <option value="">Select Category</option>
                                            </select>
                                        </div>
                                        <span asp-validation-for="JobCategory" class="text-danger"></span>
                                    </div>

                                    <div class="col-xl-4">
                                        <div class="submit-field">
                                            <h5>Budget</h5>
                                            <div class="row">
                                                <div class="col-xl-12">
                                                    <div class="input-with-icon">
                                                        <input asp-for="Budget" class="with-border" type="number" placeholder="Budget">
                                                        <i class="currency">USD</i>
                                                    </div>
                                                    <span asp-validation-for="Budget" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!--<div class="col-xl-4">
                                        <div class="submit-field">
                                            <h5>Tags <span>(optional)</span>  <i class="help-icon" data-tippy-placement="right" title="Maximum of 10 tags"></i></h5>
                                            <div class="keywords-container">
                                                <div class="keyword-input-container">
                                                    <input type="text" class="keyword-input with-border" placeholder="e.g. job title, responsibilites" />
                                                    <button class="keyword-input-button ripple-effect"><i class="icon-material-outline-add"></i></button>
                                                </div>
                                                <div class="keywords-list">--> @*keywords go here*@<!--</div>
                                                <div class="clearfix"></div>
                                            </div>

                                        </div>
                                    </div>-->

                                    <div class="col-xl-12">
                                        <div class="submit-field">
                                            <h5>Job Description</h5>
                                            <textarea asp-for="Description" cols="30" rows="5" class="with-border"></textarea>
                                        </div>
                                    </div>

                                    <div class="col-xl-12">
                                        <button form="job-post-form" type="submit" class="button ripple-effect big margin-top-30"><i class="icon-feather-plus"></i> Post a Job</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- Row / End -->
        </div>
    </div>
    <!-- Dashboard Content / End -->

</div>
<!-- Dashboard Container / End -->