<!-- Titlebar
================================================== -->
<div class="single-page-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="d-flex justify-content-between align-items-center">
                    <div class="text-center p-lg-4">
                        <div class="salary-type">Contract Status</div>
                        <div class="margin-top-15"></div>
                        <div class="bid-acceptance">Ongoing</div>
                    </div>

                    <div class="text-center">
                        <h3 class="contract-id-text">Contract #12dqwdasd12-asdas12d3-asdas12d23d</h3>
                    </div>

                    <div class="text-center p-lg-4">
                        <div class="salary-type">Contract Budget</div>
                        <div class="margin-top-15"></div>
                        <div class="bid-acceptance">$4,500</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Page Content
================================================== -->
<div class="container">
    <div class="countdown blue margin-bottom-70 py-lg-4">6 days, 23 hours left</div>

    <div class="row">
        <!-- Content -->
        <div class="col-xl-8 col-lg-8 content-right-offset">

            <!-- Description -->
            <div class="single-page-section">
                <h3 class="margin-bottom-25">Job Description</h3>
                <p>Leverage agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches to corporate strategy foster collaborative thinking to further the overall value proposition. Organically grow the holistic world view of disruptive innovation via workplace diversity and empowerment.</p>

                <p>Bring to the table win-win survival strategies to ensure proactive domination. At the end of the day, going forward, a new normal that has evolved from generation X is on the runway heading towards a streamlined cloud solution. User generated content in real-time will have multiple touchpoints for offshoring.</p>

                <p>Capitalize on low hanging fruit to identify a ballpark value added activity to beta test. Override the digital divide with additional clickthroughs from DevOps. Nanotechnology immersion along the information highway will close the loop on focusing solely on the bottom line.</p>
            </div>

            <!-- Atachments -->
            <div class="single-page-section">
                <h3>Attachments</h3>
                <div class="attachments-container">
                    <a href="#" class="attachment-box ripple-effect"><span>Project Brief</span><i>PDF</i></a>
                </div>
            </div>

            <div class="clearfix"></div>
        </div>


        <!-- Sidebar -->
        <div class="col-xl-4 col-lg-4">
            <div class="sidebar-container">

                <div class="sidebar-widget">
                    <div class="job-overview">
                        <div class="job-overview-headline">Contract Summary</div>
                        <div class="job-overview-inner">
                            <ul>
                                <li>
                                    <i class="icon-material-outline-loyalty"></i>
                                    <span>Job Title</span>
                                    <h5>Name</h5>
                                </li>
                                <li>
                                    <i class="icon-material-outline-business-center"></i>
                                    <span>Employer</span>
                                    <h5>Name</h5>
                                </li>
                                <li>
                                    <i class="icon-material-outline-person-pin"></i>
                                    <span>Freelancer</span>
                                    <h5>Name</h5>
                                </li>
                                <li>
                                    <i class="icon-material-outline-access-time"></i>
                                    <span>Delivery Time</span>
                                    <h5>2 days ago</h5>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- Button -->
                <div class="bidding-signup d-flex">
                    <button class="button bg-danger ripple-effect move-on-hover full-width margin-right-20"><span>Cancel</span></button>
                    <button class="button success bg-success ripple-effect move-on-hover full-width"><span>Complete</span></button>
                </div>
            </div>
        </div>
    </div>
</div>
</div>


<!-- Spacer -->
<div class="margin-top-50"></div>
<!-- Spacer / End-->
