@page "/Login"
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<div class="margin-top-100"></div>

<div class="container">
    <div class="row">
        <div class="col-xl-6 offset-xl-3">

            <div class="login-register-page">
                <div class="welcome-text">
                    <h3>We're glad to see you again!</h3>
                    <span>Don't have an account? <a href="Register">Sign Up!</a></span>
                </div>

                <form id="login-form" method="post">
                    <div asp-validation-summary="All" class="text-danger"></div>

                    <div class="input-with-icon-left">
                        <i class="icon-material-outline-account-circle"></i>
                        <input asp-for="Input.Username" type="text" class="input-text with-border" placeholder="Username" required />
                        <span asp-validation-for="Input.Username" class="text-danger"></span>
                    </div>

                    <div class="input-with-icon-left">
                        <i class="icon-material-baseline-mail-outline"></i>
                        <input asp-for="Input.Email" type="text" class="input-text with-border" placeholder="Email Address" required />
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>

                    <div class="input-with-icon-left">
                        <i class="icon-material-outline-lock"></i>
                        <input asp-for="Input.Password" type="password" class="input-text with-border" placeholder="Password" required />
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>

                </form>

                <button class="button full-width button-sliding-icon ripple-effect margin-top-10" form="login-form" type="submit">Log In <i class="icon-material-outline-arrow-right-alt"></i></button>

            </div>
        </div>
    </div>
</div>

<div class="margin-bottom-100"></div>

<partial name="BigFooterPartial" />

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
