@page "/Register"
@model RegisterModel
@using Jobzy.Common

@{
    ViewData["Title"] = "Register";
}

<div class="margin-top-30"></div>

<div class="container">
    <div class="row">
        <div class="col-xl-6 offset-xl-3">
            <div class="login-register-page">
                <!-- Welcome Text -->
                <div class="welcome-text">
                    <h3 style="font-size: 26px;">Let's create your account!</h3>
                    <span>Already have an account? <a href="Login">Log In!</a></span>
                </div>

                <div asp-validation-summary="All" class="text-danger"></div>

                <!-- Form -->
                <form asp-route-returnUrl="@Model.ReturnUrl" method="post" id="register-form">
                    <div class="account-type">
                        <div>
                            <input asp-for="Input.UserType" value="@UserType.Freelancer" type="radio" id="freelancer-radio" class="account-type-radio" />
                            <label asp-for="Input.UserType" for="freelancer-radio" class="ripple-effect-dark"><i class="icon-material-outline-account-circle"></i> Freelancer</label>
                        </div>

                        <div>
                            <input asp-for="Input.UserType" value="@UserType.Employer" type="radio" id="employer-radio" class="account-type-radio" />
                            <label asp-for="Input.UserType" for="employer-radio" class="ripple-effect-dark"><i class="icon-material-outline-business-center"></i> Employer</label>
                        </div>
                    </div>

                    <span asp-validation-for="Input.Location" class="text-danger"></span>
                    <div class="input-with-icon-left">
                        <select asp-for="Input.Location" asp-items="Html.GetEnumSelectList<Country>()" class="location-select dropdown with-border" data-size="5" title="Select Your Location">
                            <option value="0">Select Your Location</option>
                        </select>
                    </div>

                    <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                    <div class="input-with-icon-left">
                        <i class="icon-material-outline-account-circle"></i>
                        <input asp-for="Input.FirstName" type="text" class="input-text with-border" placeholder="First Name" required />
                    </div>

                    <span asp-validation-for="Input.LastName" class="text-danger"></span>
                    <div class="input-with-icon-left">
                        <i class="icon-material-outline-account-circle"></i>
                        <input asp-for="Input.LastName" type="text" class="input-text with-border" placeholder="Last Name" required />
                    </div>


                    <span asp-validation-for="Input.Username" class="text-danger"></span>
                    <div class="input-with-icon-left">
                        <i class="icon-material-outline-account-circle"></i>
                        <input asp-for="Input.Username" type="text" class="input-text with-border" placeholder="Username" required />
                    </div>


                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                    <div class="input-with-icon-left">
                        <i class="icon-material-baseline-mail-outline"></i>
                        <input asp-for="Input.Email" type="text" class="input-text with-border" placeholder="Email Address" required />
                    </div>

                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                    <div class="input-with-icon-left" title="Should be at least 8 characters long" data-tippy-placement="bottom">
                        <i class="icon-material-outline-lock"></i>
                        <input asp-for="Input.Password" type="password" class="input-text with-border" placeholder="Password" required />
                    </div>


                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                    <div class="input-with-icon-left">
                        <i class="icon-material-outline-lock"></i>
                        <input asp-for="Input.ConfirmPassword" type="password" class="input-text with-border" placeholder="Repeat Password" required />
                    </div>

                    <button class="button full-width button-sliding-icon ripple-effect margin-top-10" type="submit" form="register-form">Register <i class="icon-material-outline-arrow-right-alt"></i></button>
                </form>
            </div>

        </div>
    </div>
</div>

<div class="margin-bottom-100"></div>

<partial name="BigFooterPartial"/>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />

    <script>
        let freelancerInput = document.getElementById("freelancer-radio");
        let employerInput = document.getElementById("employer-radio");

        freelancerInput.setAttribute("checked", true);

        employerInput.addEventListener("click", () => {
            freelancerInput.removeAttribute("checked");
            employerInput.setAttribute("checked", true);
        })

        freelancerInput.addEventListener("click", () => {
            employerInput.removeAttribute("checked");
            freelancerInput.setAttribute("checked", true);
        })
    </script>
}
