@model IEnumerable<Jobzy.Web.ViewModels.Messages.UsersListViewModel>
<!-- Dashboard Container -->
<div class="dashboard-container">
    <partial name="DashboardPartial" />

    <!-- Dashboard Content
    ================================================== -->
    <div class="dashboard-content-container" data-simplebar>
        <div class="dashboard-content-inner">

            <!-- Dashboard Headline -->
            <div class="dashboard-headline">
                <h3>Messages</h3>
            </div>

            <div class="messages-container margin-top-0">

                <div class="messages-container-inner">

                    <!-- Messages -->
                    <div class="messages-inbox">
                        <div class="messages-headline">

                            <div class="dropdown">
                                <input class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="search-input" oninput="onInputChange(event)" type="text" placeholder="Search">
                                <div class="dropdown-menu w-100" aria-labelledby="search-input"></div>
                            </div>
                        </div>

                        <ul>
                            <li>
                                <a href="#">
                                    <div class="message-avatar"><i class="status-icon status-online"></i><img src="images/user-avatar-small-03.jpg" alt="" /></div>

                                    <div class="message-by">
                                        <div class="message-by-headline">
                                            <h5>David Peterson</h5>
                                            <span>4 hours ago</span>
                                        </div>
                                        <p>Thanks for reaching out. I'm quite busy right now on many</p>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!-- Messages / End -->
                    <!-- Message Content -->
                    <div class="message-content">

                        <div class="messages-headline">
                            <h4>Ivan Ivanov</h4>
                            <h6 id="username">vanko1</h6>

                            <a href="#" class="message-action"><i class="icon-feather-trash-2"></i> Delete Conversation</a>
                        </div>

                        @*Message Content Inner*@
                        <div id="message-field" class="message-content-inner">
                            <div class="message-bubble me">
                                <div class="message-bubble-inner">
                                    <div class="message-avatar"><img src="images/user-avatar-small-01.jpg" alt="" /></div>
                                    <div class="message-text"><p>Thanks for choosing my offer. I will start working on your project tomorrow.</p></div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        @*Message Content Inner / End
                            Reply Area*@
                        <div class="message-reply">
                            <textarea id="messageInput" cols="1" rows="1" placeholder="Your Message" data-autoresize></textarea>
                            <button id="sendButton" class="button ripple-effect">Send</button>
                        </div>
                    </div>
                    <!-- Message Content -->

                </div>
            </div>
            <!-- Spacer -->
            <div class="margin-top-70"></div>
            <!-- Spacer / End-->
            <!-- Messages Container / End -->
        </div>
    </div>
</div>

@section scripts {
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/messages.js"></script>
}