<!-- Notifications -->
<div class="header-notifications">

    <!-- Trigger -->
    <div class="header-notifications-trigger">
        <a href="#"><i class="icon-feather-bell"></i><span>4</span></a>
    </div>

    <!-- Dropdown -->
    <div class="header-notifications-dropdown">

        <div class="header-notifications-headline">
            <h4>Notifications</h4>
            <button class="mark-as-read ripple-effect-dark" title="Mark all as read" data-tippy-placement="left">
                <i class="icon-feather-check-square"></i>
            </button>
        </div>

        <div class="header-notifications-content">
            <div class="header-notifications-scroll" data-simplebar>
                <ul>
                    <!-- Notification -->
                    <li class="notifications-not-read">
                        <a href="dashboard-manage-candidates.html">
                            <span class="notification-icon"><i class="icon-material-outline-group"></i></span>
                            <span class="notification-text">
                                <strong>Michael Shannah</strong> applied for a job <span class="color">Full Stack Software Engineer</span>
                            </span>
                        </a>
                    </li>

                </ul>
            </div>
        </div>

    </div>
</div>
