@using Jobzy.Common
@using Jobzy.Data.Models
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> signInManager
@inject UserManager<ApplicationUser> userManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>@this.ViewData["Title"] - @GlobalConstants.SystemName</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.min.css" />
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/colors/blue.css">

</head>
<body>
    <div id="wrapper">
        <header id="header-container" class="fullwidth">
            <!-- Header -->
            <div id="header">
                <div class="container">
                    <!-- Left Side Content -->
                    <div class="left-side">

                        <!-- Logo -->
                        <div id="logo">
                            <a href="/"><img src="~/images/logo.png" alt=""></a>
                        </div>

                        <!-- Main Navigation -->
                        <nav id="navigation">
                            <ul id="responsive">
                                @if (this.signInManager.IsSignedIn(User))
                                {
                                    @if (this.User.IsInRole("Freelancer"))
                                    {
                                        <li>
                                            <a href="#">Find Work</a>
                                            <ul class="dropdown-nav">
                                                <li>
                                                    <a asp-controller="Job" asp-action="All">Browse Jobs</a>
                                                </li>

                                                <li>
                                                    <a href="browse-companies.html">Browse Companies</a>
                                                </li>
                                            </ul>
                                        </li>
                                    }
                                    @if (this.User.IsInRole("Employer"))
                                    {
                                        <li>
                                            <a href="#">Find Talent</a>
                                            <ul class="dropdown-nav">
                                                <li>
                                                    <a href="#">Find a Freelancer</a>
                                                    <ul class="dropdown-nav">
                                                        <li><a href="freelancers-grid-layout-full-page.html">Full Page Grid</a></li>
                                                        <li><a href="freelancers-grid-layout.html">Grid Layout</a></li>
                                                        <li><a href="freelancers-list-layout-1.html">List Layout 1</a></li>
                                                        <li><a href="freelancers-list-layout-2.html">List Layout 2</a></li>
                                                    </ul>
                                                </li>
                                                <li><a asp-action="Add" asp-controller="Job">Add a Job</a></li>
                                            </ul>
                                        </li>

                                        <li>
                                            <a href="/Dashboard/AddFunds">Add Funds</a>
                                        </li>
                                    }
                                }
                                @if (!this.signInManager.IsSignedIn(User))
                                {
                                    <li>
                                        <a href="/Login">Login</a>
                                    </li>

                                    <li>
                                        <a href="/Register">Sign up</a>
                                    </li>
                                }
                            </ul>
                        </nav>
                        <div class="clearfix"></div>
                        <!-- Main Navigation / End -->

                    </div>
                    <!-- Left Side Content / End -->
                    <!-- Right Side Content / End -->

                    <div class="right-side">
                        @if (this.signInManager.IsSignedIn(User))
                        {
                            var user = await userManager.GetUserAsync(User);
                            var fullName = user.Name;
                            var username = user.UserName;
                            var role = User.IsInRole("Freelancer") ? "Freelancer" : "Employer";

                            <!-- User Menu -->
                            <div class="header-widget">

                                <!-- Messages -->
                                <div class="header-notifications user-menu">
                                    <div class="header-notifications-trigger">
                                        <a href="#"><div class="user-avatar status-invisible"><img src="~/images/user-avatar-small-01.jpg" alt=""></div></a>
                                    </div>

                                    <!-- Dropdown -->
                                    <div class="header-notifications-dropdown">

                                        <!-- User Status -->
                                        <div class="user-status">

                                            <!-- User Name / Avatar -->
                                            <div class="user-details ">
                                                <div class="user-avatar status-invisible"><img src="~/images/user-avatar-small-01.jpg" alt=""></div>
                                                <div class="user-name d-flex flex-column align-items-center">
                                                      @fullName
                                                    <span class="dashboard-status-button green margin-top-10 margin-right-10">
                                                     $@user.Balance.Money
                                                    </span>
                                                </div>
                                            </div>

                                            <!-- User Status Switcher -->
                                            <div class="status-switch" id="snackbar-user-status">
                                                <label class="user-online">Online</label>
                                                <label class="user-invisible current-status">Invisible</label>
                                                <!-- Status Indicator -->
                                                <span class="status-indicator" aria-hidden="true"></span>
                                            </div>
                                        </div>

                                        <ul class="user-menu-small-nav">
                                            <li><a href="dashboard.html"><i class="icon-material-outline-dashboard"></i> Dashboard</a></li>
                                            <li><a href="dashboard-settings.html"><i class="icon-material-outline-settings"></i> Settings</a></li>
                                            <li><a asp-route="/Identity/Account/Logout"><i class="icon-material-outline-power-settings-new"></i> Logout</a></li>
                                        </ul>

                                    </div>
                                </div>

                            </div>
                        }

                        <!-- Mobile Navigation Button -->
                        <span class="mmenu-trigger">
                            <button class="hamburger hamburger--collapse" type="button">
                                <span class="hamburger-box">
                                    <span class="hamburger-inner"></span>
                                </span>
                            </button>
                        </span>
                    </div>
                    <!-- Right Side Content / End -->
                </div>
            </div>
            <!-- Header / End -->
        </header>
        <div class="clearfix"></div>

        <partial name="_CookieConsentPartial" />
        @this.RenderBody()

        <div class="clearfix"></div>

        <div id="footer">
            <div class="footer-bottom-section">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            © 2019 <strong>Hireo</strong>. All Rights Reserved.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Scripts
    ================================================== -->
    <script src="~/js/jquery-3.6.0.min.js"></script>
    <script src="~/js/jquery-migrate-3.3.2.min.js"></script>
    <script src="~/js/mmenu.min.js"></script>
    <script src="~/js/tippy.all.min.js"></script>
    <script src="~/js/simplebar.min.js"></script>
    <script src="~/js/bootstrap-slider.min.js"></script>
    <script src="~/js/bootstrap-select.min.js"></script>
    <script src="~/js/snackbar.js"></script>
    <script src="~/js/clipboard.min.js"></script>
    <script src="~/js/counterup.min.js"></script>
    <script src="~/js/magnific-popup.min.js"></script>
    <script src="~/js/slick.min.js"></script>
    <script src="~/js/custom.js"></script>

    <!-- Snackbar // documentation: https://www.polonel.com/snackbar/ -->
    <script>
        // Snackbar for user status switcher
        $('#snackbar-user-status label').click(function () {
            Snackbar.show({
                text: 'Your status has been changed!',
                pos: 'bottom-center',
                showAction: false,
                actionText: "Dismiss",
                duration: 3000,
                textColor: '#fff',
                backgroundColor: '#383838'
            });
        });
    </script>


    <!-- Google Autocomplete -->
    <script>
        function initAutocomplete() {
            var options = {
                types: ['(cities)'],
                // componentRestrictions: {country: "us"}
            };

            var input = document.getElementById('autocomplete-input');
            var autocomplete = new google.maps.places.Autocomplete(input, options);
        }

        // Autocomplete adjustment for homepage
        if ($('.intro-banner-search-form')[0]) {
            setTimeout(function () {
                $(".pac-container").prependTo(".intro-search-field.with-autocomplete");
            }, 300);
        }

    </script>

    <!-- Google API -->
    <script src="https://maps.googleapis.com/maps/api/js?key=&libraries=places&callback=initAutocomplete"></script>

    @await this.RenderSectionAsync("Scripts", required: false)
</body>
</html>
