@using Microsoft.AspNetCore.Identity
@using Jobzy.Data.Models
@inject UserManager<ApplicationUser> userManager; 

@{
    var userId = this.userManager.GetUserId(this.User);
}
<!-- Apply for a job popup
================================================== -->
<div id="small-dialog" class="zoom-anim-dialog mfp-hide dialog-with-tabs">

    <!--Tabs -->
    <div class="sign-in-form">

        <ul class="popup-tabs-nav">
            <li><a href="#tab">Make an Offer</a></li>
        </ul>

        <div class="popup-tabs-container">

            <!-- Tab -->
            <div class="popup-tab-content" id="tab">

                <div class="welcome-text">
                    <h3>Offer Requirements</h3>
                </div>

                <!-- Form -->
                <form method="post" id="apply-now-form" asp-controller="Offers" asp-action="AddOffer">

                    <div class="input-with-icon-left">
                        <i class="icon-feather-dollar-sign"></i>
                        <input type="number" min="5" step="5" max="50000" class="input-text with-border" placeholder="Fixed Price" name="fixedPrice" />
                    </div>

                    <div class="input-with-icon-left">
                        <i class="icon-line-awesome-calendar"></i>
                        <input type="number" min="1" max="365" class="input-text with-border" placeholder="Delivery Days" name="deliveryDays" />
                    </div>

                    <input type="text" hidden name="jobId" value="@ViewData["jobId"]" />
                    <input type="text" hidden name="userId" value="@userId"/>
                </form>

                <!-- Button -->
                <button class="button margin-top-35 full-width button-sliding-icon ripple-effect" type="submit" form="apply-now-form">Send <i class="icon-material-outline-arrow-right-alt"></i></button>

            </div>

        </div>
    </div>
</div>
<!-- Apply for a job popup / End -->