@using Jobzy.Data.Models
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> signInManager

<!-- Footer ================================================== -->
<div id="footer" class="footer fixed-bottom">

    <!-- Footer Copyrights -->
    <div class="footer-bottom-section">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    © @DateTime.Now.Year <strong>Jobzy</strong> - <a class="text-white" href="https://github.com/tonsan221/Jobzy" target="_blank">Open Source Project</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer Copyrights / End -->
</div>
<!-- Footer / End -->