@using Jobzy.Data.Models
@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> userManager

@{
    var user = await userManager.GetUserAsync(User);
}

<!-- Dashboard Sidebar
   ================================================== -->
<div class="dashboard-sidebar">
    <div class="dashboard-sidebar-inner" data-simplebar>
        <div class="dashboard-nav-container">

            <!-- Responsive Navigation Trigger -->
            <a href="#" class="dashboard-responsive-nav-trigger">
                <span class="hamburger hamburger--collapse">
                    <span class="hamburger-box">
                        <span class="hamburger-inner"></span>
                    </span>
                </span>
                <span class="trigger-title">Dashboard Navigation</span>
            </a>

            <!-- Navigation -->
            <div class="dashboard-nav">
                <div class="dashboard-nav-inner">
                    <ul data-submenu-title="Main">
                        <li><a href="dashboard.html"><i class="icon-material-outline-dashboard"></i> Dashboard</a></li>
                        <li><a href="dashboard-messages.html"><i class="icon-material-outline-question-answer"></i> Messages</a></li>
                        <li><a href="dashboard-reviews.html"><i class="icon-material-outline-rate-review"></i> Reviews</a></li>
                    </ul>

                    <ul data-submenu-title="Manage">
                        <li class="active-submenu">
                            <a href="javascript:void(0);"><i class="icon-material-outline-business-center"></i> Jobs</a>
                            <ul>
                                <li><a asp-action="MyJobs" asp-controller="Jobs">My Jobs</a></li>
                                <li><a asp-action="AddJob" asp-controller="Jobs">Add a Job</a></li>
                            </ul>
                        </li>
                        <li class="active-submenu">
                            <a href="javascript:void(0);"><i class="icon-material-outline-business-center"></i> Contracts</a>
                            <ul>
                                <li><a asp-action="MyContracts" asp-controller="Contracts">My Contracts</a></li>
                            </ul>
                        </li>
                    </ul>

                    <ul data-submenu-title="Account">
                        <li><a href="dashboard-settings.html"><i class="icon-material-outline-settings"></i> Settings</a></li>
                        <li><a href="index-logged-out.html"><i class="icon-material-outline-power-settings-new"></i> Logout</a></li>
                    </ul>

                </div>
            </div>
            <!-- Navigation / End -->

        </div>
    </div>
</div>
<!-- Dashboard Sidebar / End -->