@{
    this.ViewData["Title"] = "Error";
}

<!-- Page Content
================================================== -->
<!-- Container -->
<div class="container">

    <div class="row">
        <div class="col-xl-12">

            <section id="not-found" class="center margin-top-50 margin-bottom-25">
                <h2><i class="icon-line-awesome-meh-o"></i></h2>
                <p>Whoops, something unexpected happened and we're terribly sorry.</p>
            </section>

        </div>
    </div>

</div>
<!-- Container / End -->
<!-- Spacer -->
<div class="margin-top-70"></div>
<!-- Spacer / End-->