@model Jobzy.Web.ViewModels.Messages.NewMessageInputModel

<!-- Send Direct Message Popup
================================================== -->
<div id="small-dialog-2" class="zoom-anim-dialog mfp-hide dialog-with-tabs">

	<!--Tabs -->
	<div class="sign-in-form">

		<ul class="popup-tabs-nav">
			<li><a href="#tab2">Send Message</a></li>
		</ul>

		<div class="popup-tabs-container">

			<!-- Tab -->
			<div class="popup-tab-content" id="tab2">

				<!-- Welcome Text -->
				<div class="welcome-text">
					<h3>Direct Message To</h3>
				</div>

				<!-- Form -->
				<form asp-action="NewMessage" asp-controller="Message" method="post" id="send-pm">

					<div class="input-with-icon-left">
						<i class="icon-material-outline-account-circle"></i>
						<input asp-for="RecipientUsername" type="text" class="input-text with-border" id="name" placeholder="Username" />
					</div>

					<textarea asp-for="Message" cols="10" placeholder="Message" class="with-border" required></textarea>
				</form>

				<!-- Button -->
				<button class="button full-width button-sliding-icon ripple-effect" type="submit" form="send-pm">Send <i class="icon-material-outline-arrow-right-alt"></i></button>

			</div>
		</div>
	</div>
</div>
<!-- Send Direct Message Popup / End -->