<!-- Footer -->
<div class="dashboard-footer-spacer"></div>
<div class="small-footer margin-top-15">
    <div class="small-footer-copyrights">
        © @DateTime.Now.Year <strong>Jobzy - <a href="https://github.com/tonsan221/Jobzy" target="_blank">Open Source Project</a></strong>
    </div>
    <div class="clearfix"></div>
</div>
<!-- Footer / End -->
