@model Jobzy.Web.ViewModels.Administration.Dashboard.IndexViewModel
@{
    this.ViewData["Title"] = "Admin dashboard";
}

<!-- Dashboard Container -->
<div class="dashboard-container">
    <!-- Dashboard Content
        ================================================== -->
    <div class="dashboard-content-container" data-simplebar>
        <div class="dashboard-content-inner">

            <!-- Dashboard Headline -->
            <div class="dashboard-headline">
                <h3>Howdy, Stoyan!</h3>
                <span>Awesome as always, ehh?</span>
            </div>

            <!-- Fun Facts Container -->
            <div class="fun-facts-container">
                <div class="fun-fact" data-fun-fact-color="#36bd78">
                    <div class="fun-fact-text">
                        <span>Finished Contracts</span>
                        <h4></h4>
                    </div>
                    <div class="fun-fact-icon"><i class="icon-material-outline-check"></i></div>
                </div>
                <div class="fun-fact" data-fun-fact-color="#b81b7f">
                    <div class="fun-fact-text">
                        <span>Job Postings</span>
                        <h4></h4>
                    </div>
                    <div class="fun-fact-icon"><i class="icon-line-awesome-sticky-note-o"></i></div>
                </div>
                <div class="fun-fact" data-fun-fact-color="#efa80f">
                    <div class="fun-fact-text">
                        <span>Reviews</span>
                        <h4></h4>
                    </div>
                    <div class="fun-fact-icon"><i class="icon-material-outline-rate-review"></i></div>
                </div>

                <!-- Last one has to be hidden below 1600px, sorry :( -->
                <div class="fun-fact" data-fun-fact-color="#2a41e6">
                    <div class="fun-fact-text">
                        <span>Ongoing Contracts</span>
                        <h4></h4>
                    </div>
                    <div class="fun-fact-icon"><i class="icon-line-awesome-sticky-note-o"></i></div>
                </div>
            </div>

            <partial name="SmallFooterPartial" />
        </div>
    </div>
    <!-- Dashboard Content / End -->
</div>
